.homebutt{
	height: 40px;
	width: 120px;
	border: 4px;
	border-color: rgb(255,45,85);
	background-color: rgb(255,59,48);
	border-style: solid;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	height: 50px;
	font-family: "Times New Roman",Times, sans-serif;
	font-size: 44px;
	color: white;
}

.navbutt{
	height: 50px;
	width: 200px;
	margin: auto;
	border: 4px;
	border-color: black;
	background-color: rgb(90,200,250);
	border-style: solid;
	border-radius: 5px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

#JessMe{
	transform: rotate(180deg);
}

figure {
	margin: auto;
	width: 50%;
	text-align: center;
}
figcaption{
	font-style:italic;
	color: rgb(110,110,110);
}

p {
	padding-left: 80px;
	font-family: "Times New Roman",Times, sans-serif;
	font-size: 18px;
}

.buttlink{
	color: white;
	text-decoration: none;
}

section{
	background-color: rgb(255,149,0);
	border: 4px;
	border-radius: 10px;
}

nav {
	background-color: rgb(255,204,0);
	border: 4px;
	border-radius: 10px;
	margin-right: 1500px;
}

ol{
	color: black
}

h2{
	padding-left: 20px;
	padding-top: 10px;
}

footer{
	margin-right: 1550px;
	border: 4px;
	border-radius: 10px;
	background-color: rgb(88,86,214);
	color: white;
}